.Products_item {
    display: block;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 10px;
}

.Products_item p {
    font-size: 0.9em;
    line-height: 21px;
    margin: 0;
}

.Products-button {
    margin-top: 10px;
    border-radius: 5px;
}