.Modal-header {
    text-align: center;
}

.Modal-p {
    margin-bottom: 5px;
}

.Modal-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.Modal-footer-button {
    width: 75px;
    border-radius: 5px;
}